NODE_ENV="development"


POSTGRES_DB=mydb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

DATABASE_URL="postgresql://postgres:password@localhost:5434/mydb"

REDIS_HOST=localhost
REDIS_PORT=6382
REDIS_USERNAME=redis
REDIS_PASSWORD=redispassword